
 input[type="text"],input[type="password"] {
	border: 1px solid #ccc;
	padding: 5px;
	width: 200px;
	margin-top: 20px;
	position: absolute;
}

#phone{
	top:50px;
	left:100px;
}
#password{
	top:100px;
	left:100px;
}
#login{
	top:150px;
	left:100px;
}

#register{
	top:150px;
	left:200px;
}